body {
  background-color: #DFF6FF;
}

h1{
  color: #47B5FF;
}
h3{
  color: #47B5FF;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #06283D;
  border-width: 8px;
  width: 5%;
}
